{% load static %}
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Home - Objective Zero</title>
    <!--<link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css" media="all">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href={% static 'styles.css' type="text/css" media="all" %}>
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-dark home-navbar">
      <a class="navbar-brand" href="/">
        <img class="objective-zero-logo" src="../static/images/objective_zero-logo.png" alt="OZ">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav home-navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/about/">About <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/project/">Project</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Datas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/wastes/">Wastes</a>
              <a class="dropdown-item" href="/technologies/">Technologies</a>
              <a class="dropdown-item" href="/trading">Market</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Contribute</a>
            </div>
          </li>
      </div>
    </nav>
	
  
    <div>
    {% block content %}
    {% endblock %}
    </div>

    <footer id="colophon">
      <div>
        Objective Zero - Hacklahoma - 3/3/2018 - Marinaro Cezard Saulas
      </div>
    </footer>
    <!--<script src="{% static 'main.js' %}"></script>-->
  </body>
    <script src="{% static 'vendor/jquery/jquery-3.3.1.slim.js' %}"></script>
    <!--<script src="{% static 'vendor/popper/popper.min.js' %}"></script>-->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


</html>
